/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  @media screen and (max-width: 600px) {
    header {
      flex-direction: column;
    }
    
    nav ul {
      flex-direction: column;
    }
    
    nav li {
      margin-right: 0;
      margin-bottom: 5px;

    }
    
    nav a {
      width: 100%;
    }
  }
  
  
  /* Body styles */
  body {
    font-family: Arial, sans-serif;
    font-size: 1rem;
    line-height: 1.5;
    background-color: #f8f8f8;
  }
  
  /* Header styles */
  header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  nav ul {
    display: flex;
    list-style: none;
  }
  
  nav li {
    margin-right: 20px;
  }
  
  nav a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
  }
  
  nav a:hover {
    color: purple;
  }

  nav .active a {
    color: purple;
  }
  /* Main content styles */
  label {
    display: flex;
    font-weight: bold;
  }

  input[type="text"],
  input[type="email"],
  input[type="tel"],
  textarea {
    width: 50%;
    height: 30px;
    margin-bottom: 10px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
  } 
  textarea {
    height: 100px;
  }
  
.submit-button {
  padding: 12px 32px;
  margin-left: 25px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;

}
.submit-button:hover {
  transform: scale(1.1);
}


.address{
  text-align: center;
  font-weight: bold;
}

  
  /* Footer styles */
  footer {
    position: absolute;
    background-color: #f8f8f8;
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 10px;
    bottom: 0;
    width: 100%;
  }
  
  #page-container {
    position: relative;
    min-height: 100vh;
  }
 
  #content-wrap {
    padding-bottom: 2.5rem;    /* Footer height */
  }
  .scroll-container {
    background-color: white;
    overflow: auto;
    white-space: nowrap; 
    padding: 20px;
  }
  
  .scroll-container img {
    padding: 10px;
    height: 300px;
    width: 300px;
  }
  

  .card-container{
    display: flex;
    justify-content: space-evenly;
    border: 1px solid ;
    width: 90%;
    min-height: 400px;
    margin-inline: auto;

  }
  
  .card {
    width: 250px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  

  .add-to-cart {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: white;
    color: purple;
    text-align: center;
    border: 0.16rem solid purple;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .add-to-cart:hover {
    background-color: purple;
    color: white;
  }
